.gallery-image img{
width: 100%;
height: 300px;
object-fit: cover;
}
header{
    background-color: rgb(243, 149, 25);
}
.nav{
    display: flex;
    justify-content:space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav h1{
    padding-left: 500px;
}
.bar{
    width: 50px;
    height: 10px;
    background-color: black;
    display: block;
    margin: 5px auto;
    border-radius: 5px;
}
.gallery-image img{
width: 100%;
height: 300px;
object-fit: cover;
}
.gallary{
    margin-bottom: 50px;
}
.gallry{
    position: relative;
}
.gallry img{
    width: 100%;
height: 300px;
object-fit: cover;
}
.gallry{
    position: relative;
}
.gallry::after{
    content: "";
    position: absolute;
    background: #000000;
background: linear-gradient(2deg, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0.72)1%, rgba(0, 212, 255, 0) 100%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.gallery-para{
    box-shadow: 0 5px 20px rgb(0, 0,0.5) blur(1px);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 20px;
    z-index: 11;
}