@media (max-width:990px) {
     .nav-menu{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: absolute;
        height: 100vh;
        width:200px;
        top: 0;
        right: 0;
        padding: 5px;
        background-color:#6339a6;
    }
    .call{
        display: none;
    }
    .navbar-toggle{
        display: block;
        z-index: 999;
    }
    .calll{
        display: flex;
        padding-top: 10px;
    }
}
@media (max-width:575px){
    .customers h3{
            font-size: 30px;
        }
        .customers p{
            font-size: 14px;
        }
        .nav-menu{
            display: none;
        }
        .get{
            width: 100%;
        }
}