header{
    background-color:#6339a6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.header{
        display: flex;
    width: 100%;
    padding: 10px;
    height: max-content;
    justify-content: space-between;
    align-items: center;
}
.race-logo img{
    width: 160px;

}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: max-content;
}
ul.nav-menu{
    margin: 0px;
}
.te{
    text-decoration: none;
}
.nav-menu li{
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}
.nav-menu li:hover{
    background-color: #4b356d;
}
.naav{
display: flex;
} 
.nav-b{
    display: flex;
    margin-left: 20px;
    width: max-content;
    gap: 10px;
}
.call{
    text-decoration: none;
    color: aliceblue;
    border-radius: 10px;
    line-height: 0;
    text-align: center;
    align-items: center;
    display: flex;
    background-color:#28193e;
     width: 200px;
    height: 50px;
    padding:5px;
}
.call:hover{
    background-color: #4b356d;
    color: aliceblue;
}
.call p{
    margin-top: 10px;
}
.track{
text-decoration: none;
gap: 5px;
    color: aliceblue;
    border-radius: 15px;
    display: flex;
    background-color: rgb(238, 31, 24);
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    padding:5px;
    text-decoration: none;
}
.track:hover{
background-color: rgb(121, 27, 27);
transition: 2s;
color: aliceblue;
}
.track p{
    margin-top: 10px;
}
.icon{
    font-size: 30px;
}
.navbar-toggle{
    display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.barr{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background:orangered;
    transition: all 0.3s ease-in-out;
}
.calll{
     text-decoration: none;
    color: aliceblue;
    border-radius: 10px;
    line-height: 0;
    text-align: center;
    align-items: center;
    display: flex;
    background-color:#28193e;
    padding: 5px 18px;
    display: none;
}
.calll:hover{
     background-color: #6339a6;
     color: aliceblue;
}
/* navbar */
.banner{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.763)), url(img/banner3.avif);
    object-fit: cover;
    background-size: cover;
 height: 100vh;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    position: relative;
     z-index: 12;
     padding: 20px;
     margin-top: 70px;
}
.banner h1{
    color: aliceblue;
    font-size: 50px;
}
.banner p{
  color: rgb(235, 229, 229);
    font-size: 25px;
}
.Tracking-number{
    width: 350px;
    margin-top: 20px;
    height: 60px;
    border-radius: 20px;
    padding: 20px;
    outline-style: none;
    border: none;
}
.Tracking-number::placeholder{
    padding-left: 20px;
}
.Tracking-number:focus{
    border: 3px solid orangered;
}
.check-status{
    width: 200px;
    margin-top: 20px;
    background-color: orangered;
    color: aliceblue;
    height: 60px;
    border-radius: 20px;
    outline-style: none;
    border: 0; 
}
.trusted{
    padding: 100px 0px 50px 0px;
}
.learn{
    background-color: #6339a6;
    color: aliceblue;
    border-style: none;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.delivary{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    height: 100%;
}
.deli{
   border-bottom: 2px solid black;  
   padding: 10px;
   height: 100%;
}
.delivar{
    border-right: 2px solid black;
    padding: 10px;
    height: 100%;
}
.deliva{
    padding: 10px;
    height: 100%;
}
.trusted p{
    font-size: larger;
}
.trustedd h2{
    font-size: 40px;
}
.trustedd p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.648);
}
.seamless p{
    color: rgba(255, 255, 255, 0.737);
}
.cargo{
    margin-top: 20px;
}
.whyy{
width: 100%; 
height: 100%; 
}
.well{
    width: 100%;
    height: 100%;
}

.whychooseus{
margin-bottom: 50px;
}
.discover{
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0),rgb(0, 0, 0)), url(img/plane.jpg);
    background-size: cover;
    object-fit: cover;
    padding: 30px;
    border-radius: 20px;
    color: aliceblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.details h3{
    margin-top: 40px;
}
.compass{
    width: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #ffd7f8;
}
.detail-icon{
  width: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #ffd7f8;
}
.profession{
    height: 100%;
    padding: 10px;
    border-radius: 20px;
}
.profession h3{
    margin-top: 10px;
}
.profession:hover{
    background-color: #6339a6;
    color: aliceblue;
}
.detail-icon img{
    transition: .8s;
}
.profession:hover .detail-icon img{
    transform: rotate( 360deg );
}
.profession:hover .detail-icon{
    border-radius: 50px;
    border: 2px solid orangered;
}
.whychooseus{
    margin-top: 100px;
}
.whychooseus h2{
    margin-bottom: 20px;
}
.slide-image{
    text-align: center;
}
.shpping{
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.seamless{
    text-align: center;
    background-color: #6339a6;
    color: aliceblue;
    border-radius: 25px;
    padding: 50px;
}
.seamless h2{
    margin-top: 20px;
}
.details p{
    color: rgba(255, 255, 255, 0.64);
}
.door{
    border: 2px solid rgba(255, 255, 255, 0.849);
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.shippping{
    justify-content: center; 
}
.shipping-item{
    background-color: #412966;
    color: aliceblue;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #412966;
    transition: 0.5s; 
}
.shipping-item:hover{
    border: 2px solid orangered;
     box-shadow: 0px 0px 10px 0px orangered;
}
.shipping-item:hover .ite img{
   transform: scale(0.8);
}
.ite img{
    transition: 2s;
}
.shipping-item img{
    margin-top: 30px;
    margin-bottom: 10px;
}
.shipping-item h5{
    margin-top: 10px;
    margin-bottom: 20px;
}
.part{
    display: flex;
    justify-content: center;
}
.partnerships{
    background-color: #412966;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border: 2px solid #412966;
    transition: 0.5s; 
    width: 100%;
    height: 100%;
}
.partnerships:hover{
    border: 2px solid orangered;
     box-shadow: 0px 0px 10px 0px orangered;
}
.partnerships:hover .itee img{
   transform: scale(0.8);
}
.itee img{
    transition: 2s;
}
.partnerr{
    width: 69%;
    height: 100%;
}
.partnerships img{
   margin-right: 10px;
}
.keyy{
    background-color: #412966;
    border-radius: 20px;
 width: 100%;
    display: grid;
    margin-top: 10px;
    padding: 30px;
    border: 2px solid #412966;
    transition: 0.5s
}
.keyy:hover{
    border: 2px solid orangered;
     box-shadow: 0px 0px 10px 0px orangered;
}
.keyy:hover .it img{
   transform: scale(0.8);
}
.it img{
    transition: 2s;
}
.key{
    display: flex;
    gap: 20px;
}
.ups{
    padding: 7px;
}
.regions{
    justify-content: center;
    gap: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.regoin-flag{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.flag-region{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.flag{
    background-color: #412966;
    padding: 10px;
    border-radius: 10px;
}
.contact-us{
    text-align: center;
    padding: 30px;
}
.contact{
    border-radius: 20px;
    border: 2px solid #ffd7f8;
    padding: 10px 50px 10px 50px;
    background-color: aliceblue;
    box-shadow: 0px 10px 0px 0px black;
    font-size: 20px;
    margin-bottom: 110px;
    margin-top: 50px;
    transition: 1s;
}
.contact:hover{
    box-shadow: 0px 2px 0px 0px black;
    transform: scale(2s);
}
.contact-us h2{
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 40px;
}
.contact-us p{
  font-size: 20px;
}
*h2{
    font-size: 40px;
}
.footer{
    background-color:#eee3ff ;
    z-index: 12;
    position: relative;
    padding: 20px;
    width: 100%;
}
.home{
    text-decoration: none;
    color: #28193e;
}
.homee{
    display: grid;
}
.home{
    padding: 10px;
width: max-content;
border-radius: 10px;
}
.home:hover{
    color: #f26221;
    background-color: #ffbd9e;
}
.quick-links li:hover{
    color: #f26221;
    background-color: #ffbd9e;
}
.icon-social-media{
    display: block;
}
.soical-icon{
    margin-top: 20px;
}
.social-media{
    background-color:#E0CBFF ;
    padding: 5px 15px 15px 15px;
    border-radius: 5px;
    /* text-align: center; */
}
.social-media img{
  margin-top: 5px;
}
.mail{
    display: flex;
    gap: 10px;
}
.mapper{
    display: flex;
    gap: 10px;
}
.contact-uss{
    gap: 14px;
    flex-direction: column;
    display: flex;
}
.about-banner{
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0), rgb(0, 0, 0)),url(img/about-banner.png);
    height: 60vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    margin-top: 70px;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
}
.about-banner h2{
    font-size:50px;
}
.para p{
font-size: 16px;
line-height: 30px;
margin-top: 30px;
text-align: left;
}
.wel{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}
.banner-2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.banner-2 h2{
    font-size: 40px;
    margin-top: 20px;
}
.men img{
    border-radius: 20px;
    margin-top: 30px;
    border: 2px solid white;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    box-shadow: orangered 5px 5px 0px 0px;
}
.customers{
    border-right: 2px solid orangered;
    padding: 20px;
    text-align: center;
}
.customerss{
     padding: 20px;
    text-align: center;
}
.banner-3{
    background-attachment: fixed;
    background-size: cover;
    object-fit: cover;
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.578)), url(img/og_bg.png);
    padding-top: 30px;
    padding-bottom: 30px;
    color: aliceblue;
    width: 100%;
    height: 100%;
}
.banner-3 p{
    font-weight: bold;
}
.banner-3 h3{
    font-weight: bold;
    font-size: 40px;
}
.miss{
    margin-top: 50px;
}
.mission{
    margin-bottom: 50px;
    position: relative;
}
.mission h2{
    /* text-decoration: underline;
    text-decoration-thickness: 8px;
    text-decoration-color: #f26221; */
    position: absolute;
    bottom: 83px;
}
.bar{
width: 110px;
height: 10px;
background-color: #f26221;
margin-bottom: 20px;
}
.vison{
    margin-top: 50px;
    position: relative;
}
.vison h2{
 position: absolute;
    bottom: 83px;
}
.vision-image{
    width: 100%;
    height: 100%;
}
.bar2{
width: 90px;
height: 10px;
background-color:#6339a6;
margin-bottom: 20px;
}
.mission-vison{
 margin-top: 100px;
 margin-bottom: 100px;
}
.service-banner{
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0), rgb(0, 0, 0)),url(img/service-banner.png);
    height: 60vh;
    object-fit: cover;
    background-size: cover;
    
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.service-banner h2{
    font-size:50px;
}
.sea{
    background-color: rgb(236, 236, 236);
    width:100%;
    border-radius: 20px;
    height: 100%;
}
.sea h3{
    color: #4d2c81;
}
.sea p{
    font-size: 17px;
}
.fre{
    padding: 15px;
}
.sea img{
border-radius: 20px 20px 0px 0px;
width: 100%;
}
.air{
    padding-top: 100px;
}
/* fluid-whatsapp-phone */
.phonee{
background-color: #f26221;
padding: 15px;
width: max-content;
border-radius: 50px;
margin-left: 20px;
}
.whatsapp img{
    width: 60px;
    margin-top: 10px;
    margin-left: 20px;
}
.whatsapp-phone{
    position: fixed;
    bottom: 5px;
    left: 3px;
    z-index: 5;
}
.contact-banner{
    width: 100%;
    margin-top: 80px;
    height: 350px;
    background-image: url(img/contactbanner.png);
}
.get-in-touch{
    background-color: #412966;
    color: aliceblue;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid aliceblue;
    margin-top: -121px;
}
.get{
    width: 70%;
}

.in{
    border-left: 6px solid orangered;
    padding-left: 10px;
}
.get-in-touch p{
    font-size: 18px;
}
.name{
     width: 100%; 
    padding: 15px;
    border-radius: 15px;
}
.address{
    width: 100%;
    height: 250px;
    padding: 10px;
    border-radius: 15px;
}
.submit{
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}
.corp h5{
    background-color: #4d2c81;
    padding: 10px;
    width: max-content;
    border-radius: 10px;
    font-size: 14px;
}
.caa{
    display: flex;
    gap: 8px;
}
.stat{
    background-color: #412966;
    color: aliceblue;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid aliceblue;
}
.state{
    width: 100%;
}
.stat p{
    font-size: 16px;
}
.stat h5{
    font-size: 20px;
}
.tracking-shipmeny{
    background-image: url(img/tracker_bg.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    color: aliceblue;
}
.no-data-found{
    width: 42%;
    background-color: #4d2c81;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}
.no-data-found p{
    margin-top: 10px;
}
.slide{
    overflow-x: auto;
    overflow-y:hidden;
    width: 100%;
    height: 100%;
  margin-top: 20px;
}
.group{
    display: flex;
    gap: 10px;
    animation: spin 20s infinite linear;

}
@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}
.group-slide{
    display:flex;
    gap: 20px;
}
.slide-image{
padding-bottom: 50px;
padding-top: 100px;
}
.profession h3{
font-size: 30px;
}
.profession {
    padding-left: 10px;
    padding-bottom: 0px;
}
.details h3{
font-size: 35px;
}